/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Custom Style*/

*,*::before,*::after {
    box-sizing: border-box;
}

body {
    background-color: #F1DEB8;
}

.container {
    max-width: 1000px;
    padding: 0 32px;
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: black;
    color: white;
    font-size: 32px;
    padding: 8px;
    text-align: center;
}

input {
    outline: none;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 60px;
}

.user {
    padding: 40px 0;
}

.userPhoto {
    width: 15%;
    border-radius: 50%;
}

.userName {
    font-size: 26px;
    font-weight: 700;
    padding: 8px 0;
}

.userLink {
    font-size: 19px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  
    border: 1px solid black;
    margin-left: 20px;
  }

.li {
    flex: 0 1 10%;
}

.li img {
    width: 100%;
}

.cat {
    margin-top: 50px;
}

.cat h2 {
    font-size: 30px;
    font-weight: 700;
    padding: 20px 0;
}

.catImg {
    max-height: 500px;
    object-fit: cover;
    display: inline-block;
}

.catBtn {
    background-color: white;
    border: 2px solid black;
    font-size: 18px;
    padding: 8px 17px;
    margin: 30px 0;
}

.catBtn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}